<div class="row southern-company">
  <div class="col-xs-12">
    <div class="alert alert-info col-xs-12">
      <h3>Angular Exercise</h3>
      <p>Create an angular app that allows a user to add a new email address. The email address should be validated. If it is not valid present the user with an error message. After successful validation, add the new email address as an option in a select element.</p>
      <ul>
        Of note:
        <li>UI presentation matters. Use Bootstrap to style the UI elements.</li>
        <li>We cannot receive zip files due to IT security.  Please host it somewhere or create a CodePen.</li>
      </ul>
    </div>

    <form name=socoForm>
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group">
            <input id="email" name="email" type="input" class="form-control" placeholder="Enter a valid email. ex. john.doe@example.com"
            ng-model="enteredEmail"
            required
            ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default"
              ng-click="enterEmail(enteredEmail)"
              ng-disabled="socoForm.email.$error.required || socoForm.email.$error.pattern" >Enter</button>
            </div>
          </div>
          <br/>
          <div class="alert alert-danger" role="alert" ng-show="socoForm.email.$error.pattern">
            Enter a valid email. ex. john.doe@example.com
          </div>

        </div>

        <div class="col-sm-4">
          <div class="input-group">
            <select id="emailDropdowns" class="form-control" ng-options="item as item.label for item in validEmails" ng-model='selectedEmail'>
            </select>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
